<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OurApp</title>
    <script src="https://kit.fontawesome.com/e3a50e67bf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 p-2" href="#">OurApp</a>
            <form class="d-flex justify-content-center align-items-center" role="search">

                <button class="rounded-circle border d-flex justify-content-center align-items-center m-2"
                    style="width:40px;height:40px" data-bs-container="body" data-bs-toggle="popover"
                    data-bs-placement="bottom" data-bs-content="Bottom popover" alt="Avatar">
                    <i class="fa-solid fa-magnifying-glass m-2 fa-lgs"></i>
                </button>
                <button class="rounded-circle border d-flex justify-content-center align-items-center m-2"
                    style="width:40px;height:40px" data-bs-container="body" data-bs-toggle="popover"
                    data-bs-placement="bottom" data-bs-content="Bottom popover" alt="Avatar">
                    <i class="fa-solid fa-message m-2 fa-lg"></i>
                </button>
                <button class="rounded-circle border d-flex justify-content-center align-items-center m-2"
                    style="width:40px;height:40px" data-bs-container="body" data-bs-toggle="popover"
                    data-bs-placement="bottom" data-bs-content="Bottom popover" alt="Avatar">
                    <i class="fas fa-user-alt fa-lg text-info"></i>
                </button>
                <button type="button" onclick="location.href='/createPost'" class="btn btn-outline-success m-2"
                    style="white-space: nowrap;">Create
                    post</button>
                <button type="button" class="btn btn-outline-danger m-2" style="white-space: nowrap;">Log Out</button>

            </form>

        </div>
    </nav>