<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OurApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 p-2" href="#">OurApp</a>
            <form class="d-flex" role="log" action="/loginUser" method="POST">

                <input class="form-control me-2" name="username" type="name" placeholder="Username" aria-label="Email">
                <input class="form-control me-2" type="password" name="password" placeholder="Password"
                    aria-label="Password">
                <button type="submit" class="btn btn-outline-success" style="white-space: nowrap;">Log In</button>


            </form>

        </div>
    </nav>
    <div class="container py-md-5 container--narrow">
        <div class="text-center">
            <h2>Whoops, we cannot find that page.</h2>
            <p class="lead text-muted">You can always visit the <a href="/">homepage</a> to get a fresh start.</p>
        </div>
    </div>