GoLang/bin
GoLang/pkg
Kubernetes/.terraform
GoLang/bin/gopls.exe
Udghosh_Web-main/
Udghosh_Web-main.zip
*.exe
Flutter/**/android
Flutter/**/ios
Flutter/**/windows
Flutter/**/web
Flutter/**/build
Flutter/**/.metadata
Flutter/**/.packages
Flutter/**/analysis_options.yaml
Flutter/**/*.iml
Flutter/**/pubspec.lock

